.home {
  width: 100%;
}

.home nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #e9e9e9;

  padding: 20px 20px;
}

.home nav p {
  margin: 0;
}

.menuLink {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.profile {
  display: flex;
  align-items: center;
  gap: 7px;
}

.profileInfo p:nth-child(1) {
  font-weight: 600;
  font-size: 17px;
}

.profileInfo p:nth-child(2) {
  color: #6b6b6b;
  font-size: 15px;
}

.menu {
  display: flex;
  gap: 25px;
}

.aboutMe {
  padding: 20px 35px;
  text-align: justify;
  line-height: 2;
}

.recentArt {
  /*background-color: rgba(255, 255, 255, 1);
  background-image: linear-gradient(90deg, #80808012 1px, transparent 0),
    linear-gradient(180deg, #80808012 1px, transparent 0);
  background-size: 24px 24px; */
  padding: 40px;
}

.recentArt h2 {
  margin: 0;
  letter-spacing: -0.7px;
}

.recentArt ul {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.recentArt li {
  background-image: linear-gradient(
    92.7deg,
    rgba(245, 212, 212, 0.18) 8.5%,
    rgba(252, 251, 224, 0.23) 90.2%
  );
  list-style: none;
  padding: 20px;
  border-radius: 10px;
  flex: 1 1 300px;

  box-shadow: rgba(48, 48, 48, 0.1) 0px 3px 8px;

  transition: 0.3s;
}

.recentArt li:hover {
  background-image: none;
  background-color: rgba(255, 255, 255, .4);
  box-shadow: rgba(156, 156, 156, 0.1) 0px 3px 8px;
}

.recentArt {
  display: flex;
  flex-direction: column;
}

.recentArt a {
  width: 100%;
  text-decoration: none;
  color: #000;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.recentArt h3 {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
}

.recentArt p {
  margin: 0;
  color: #6b6b6b;
  font-size: 15px;
}

.recentArtTags {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  padding-top: 10px;
}

.recentArtTags span {
  background-color: rgba(233, 233, 233, 0.5);
  width: fit-content;
  padding: 5px 10px;
  border-radius: 30px;

  color: #7c7c7c;
  font-size: 13px;
}

.smBtn {
  display: flex;
  align-items: center;
  gap: 7px;
  align-self: flex-end;
  width: fit-content;
}

.smBtn p {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.smBtn:hover {
  border-bottom: 1px solid #000;
}


@media (max-width: 500px) {
  .profileInfo {
    display: none;
  }
}
