.articlesBox {
  /* background-image: radial-gradient(#e5e7eb 1px, transparent 0);
  background-size: 16px 16px; */

  max-width: 800px;
  width: 100%;
  padding: 40px;
}

.box {
  margin-top: 20px;
  overflow: auto;
  height: 70vh;
}

.articlesBox ul {
  padding: 0;

  display: flex;
  flex-direction: column;
}

.articlesBox li {
  list-style: none;
  border-bottom: 1px solid #f1f1f1;
  padding: 15px 20px 10px 10px;
}

.articlesBox a {
  text-decoration: none;
  color: black;
}

.articlesBox li:hover {
  background-color: rgba(177, 177, 177, 0.1);
  border-radius: 10px;
}

.articlesBox h3 {
  letter-spacing: -0.02rem;
  font-weight: 500;
  font-size: 22px;

  margin: 0;
}

.articlesBox p:nth-child(2) {
  font-size: 13px;
  color: #505050;
  margin: 5px 0 0 0;
  font-style: italic;
}

.articlesBox p:nth-child(3) {
  font-size: 13px;
  color: #979797;
  margin: 20px 0 0 0;
}
