.articlesBox {
  background-image: radial-gradient(#e5e7eb 1px, transparent 0);
  background-size: 16px 16px;

  width: 100%;
  height: 100vh;

  padding: 22px;

  display: flex;
  justify-content: center;
}

.articlesBox div:nth-child(1) {
  padding: 0 20px 20px 20px;

  overflow: auto;
  height: 93vh;

  background-color: #fafafa;
  width: fit-content;
  border-radius: 15px;
}

.articlesBox ul {
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.articlesBox li {
  list-style: none;
  border-bottom: 1px solid #ebebeb;
  padding: 0 15px;
}

.articlesBox a {
  text-decoration: none;
  color: black;
}

.articlesBox li:hover {
  background-color: rgba(177, 177, 177, 0.1);
  border-radius: 10px;
}

.articlesBox h3 {
  letter-spacing: -0.02rem;
  font-weight: 600;
}

.articlesBox p:nth-child(2) {
  font-size: 15px;
  color: #2b2b2b;
  margin-top: -15px;
}

.articlesBox p:nth-child(3) {
  font-size: 13px;
  color: #747474;
}
